.assessment-table {
  margin-bottom: 0;

  th, td {
    width: 30%;

    @media only screen and (max-width: 600px) {
      min-width: 200px;
    }
  }

  th {
    vertical-align: bottom;
  }

  &__row-header {
    background-color: _palette(bg);

    th {
      font-weight: normal;
      font-style: italic;
    }
  }
}
